:root {
    --accent-second-color: #2196F3;
    --accent-color: #ffffff;
    --hero-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --logo-first-color: #000000;
    --header-text-color: #212121;
    --sub-text-color: #757575;
    --portfolio-btn-color: #F5F4FA;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.link {
    text-decoration: none;
}

/*-------------------HEADER-------------------*/


.header {
    background-color: var(--accent-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    color:var(--logo-first-color) ;
}

.logo-p1 {
    color: var(--accent-second-color);
    font-family: 'Raleway', sans-serif;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-second-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.header-list {
    list-style-type: none;
    color: var(--header-text-color);
}

.header-info {
    list-style-type: none;
    color: var(--sub-text-color);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-second-color);
}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--sub-text-color);
}



/*-------------------HERO-------------------*/


.hero {
    background-color: var(--hero-bg-color);
}

.hero-title {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.hero-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    border-radius: 4px;
    background-color: var(--accent-second-color);
    color: var(--accent-color);
    cursor: pointer;
}


/*-------------------ОСОБЕННОСТИ-------------------*/


.peculiarities {
    background-color: var(--accent-color);
}

.peculiarities-list {
    list-style-type: none;
}

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.peculiarities-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
}


/*-------------------SKILLS-------------------*/


.skills {
    background-color: var(--accent-color);
}

.skills-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.skills-list {
    list-style-type: none;
}


/*-------------------TEAM-------------------*/


.team {
    background-color:var(--team-bg-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.team-list {
    list-style-type: none;
}

.master {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
}


/*-------------------FOOTER-------------------*/


.footer {
    background-color: var(--footer-bg-color);
}

.footer-list {
    list-style-type: none;
}

.footer-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    opacity: 60%;
}


/*-------------------PORTFOLIO-------------------*/


.projects {
    background-color: var(--accent-color);
}

.projects-buttons-list {
    list-style-type: none;
}

.projects-button:hover,
.projects-button:focus {
    background-color: var(--accent-second-color);
    color: var(--accent-color);
}

.projects-button {
    background-color: var(--portfolio-btn-color);
    color: #212121;
    border-radius: 4px;
    cursor: pointer;
}

.projects-list {
    list-style-type: none;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
}