:root {
    --header-link-color: #2196F3;
    --title-text-color: #ffffff;

}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.logo {
    font-family: 'Raleway', sans-serif;
}

.header-link:hover,
.header-link:focus {
    color: var(--header-link-color);
}

.hero-title {
    color: var(--title-text-color);
}



